.card-img {
    /* max-height: 300px; */
    width: auto;
}

.recommend-card {
    border: none !important;
    box-shadow: 0.25px 15px 15px gainsboro;
}

.avatar {
    background-color: #f52a64;
    width: 50px;
    height: 50px;
}

.white {
    color: white;
}
